<!DOCTYPE HTML>
<html>
    <head>
        <title>{{ site.title }}</title>
        {% include '_elements/google_analytics' %}
    </head>
    <body>
        {% block content %}Fallback content. :){% endblock %}
        {% include '_elements/piwik' %}
    </body>
</html>
